{% extends "website/_base.html" %} {% block main %}
<div class="w-full">
  <div>
    <h1 class="flex justify-center mt-2 mb-10 text-4xl font-bold">Workout tracker</h1>
  </div>

  <div class="container px-4 mx-auto md:4/5 lg:w-3/5">
    <div class="grid grid-cols-1 gap-4 pt-5 md:grid-cols-2">
      <!-- Exisiting Exercises -->
      {% for exercise in exercises %}
      <div class="p-4 rounded bg-secondary">
      <form action="/workout/edit-exercise/{{exercise.id}}/" method="post">
          <div>
          <h2 class="mb-2 text-xl font-bold text-center">{{exercise.exercise.name}}</h2>
          <div class="grid grid-cols-3 mb-4">
            <div class="flex flex-col items-center justify-between">
              <div>Sets</div>
              <input name="sets" class="w-full px-10 dark bg-secondary text-end" value={{exercise.sets}}>
            </div>
            <div class="flex flex-col items-center justify-between">
              <div>Reps</div>
              <input name="reps" class="w-full px-10 dark bg-secondary text-end" value={{exercise.reps}}>
            </div>
            <div class="flex flex-col items-center justify-between">
              <div>Weight (kg)</div>
              <input name="weight" class="w-full px-10 dark bg-secondary text-end" value={{exercise.weight}}>
            </div>
          </div>
        </div>
        <div class="flex justify-between px-5">
          <button type="submit"
            class="px-4 py-2 mx-4 font-bold rounded bg-tertiary hover:bg-blue-700 focus:outline-none focus:shadow-outline"
            type="button">
            Edit
          </button>
          <button
            class="px-4 py-2 mx-4 font-bold bg-red-500 rounded hover:bg-red-700 focus:outline-none focus:shadow-outline"
            type="button">
            Delete
          </button>
        </div>
        </form>
      </div>
      {% endfor %}

      <!-- Add Exercise Card -->
      <form action="/workout/add-exercise/" method="post">
        <div class="p-4 rounded bg-secondary">
          <div class="mb-2">

            <div class="flex justify-center w-full h-12" id="exercise_dropdown">
              <div class="relative w-full">
                <input type="text" name="exercise" class="w-full px-4 py-2 text-white dark bg-secondary gap-x-4"
                  id="htmx_input_selector" placeholder="Type name" hx-get="/workout/get-exercises/" hx-trigger="focus"
                  hx-target="#dropdown" hx-trigger="blur" />
                <div id="dropdown" class="absolute w-full bg-secondary"></div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-3 mb-4">
            <div class="flex flex-col items-center justify-between">
              <div>Sets</div>
              <input name="sets" class="w-full px-10 dark bg-secondary text-end" />
            </div>
            <div class="flex flex-col items-center justify-between">
              <div>Reps</div>
              <input name="reps" class="w-full px-10 dark bg-secondary text-end" />
            </div>
            <div class="flex flex-col items-center justify-between">
              <div>Weight (kg)</div>
              <input name="weight" class="w-full px-10 dark bg-secondary text-end" />
            </div>
          </div>
          <button
            class="px-4 py-2 font-bold rounded bg-tertiary hover:bg-blue-700 focus:outline-none focus:shadow-outline"
            type="submit">
            Add
          </button>
          <div class="text-red-500 rounded hover:text-red-700">
            {% if errors.exercise %}
            &#9888; {{errors.exercise}}
            {% endif %}
            {% if errors.sets %}
            &#9888; {{errors.sets}}
            {% endif %}
            {% if errors.reps %}
            &#9888; {{errors.reps}}
            {% endif %}
            {% if errors.weight %}
            &#9888; {{errors.weight}}
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="exercise-modal-hx-get">

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const inputField = document.getElementById('htmx_input_selector');
      const content = document.getElementById('dropdown');
      let isMouseOverContent = false; // Flag to track mouse presence over content

      inputField.addEventListener('focus', () => {
        content.style.display = 'block'; // Show content on input focus
      });

      inputField.addEventListener('blur', () => {
        setTimeout(() => { // Timeout to catch asynchronous focus switch
          if (!isMouseOverContent) {
            content.style.display = 'none'; // Hide content if mouse is not over
          }
        }, 0); // Short delay to ensure correct order of event processing
      });

      content.addEventListener('mouseenter', () => {
        isMouseOverContent = true; // Mouse is over content, set flag true
      });

      content.addEventListener('mouseleave', () => {
        isMouseOverContent = false; // Mouse left content, set flag false
      });

      content.addEventListener('click', () => {
        // Implement any click behavior on content
        // Optionally, reset focus to inputField if needed:
        // inputField.focus();
      });

      // dispose event listeners on component unmount
      return () => {
        inputField.removeEventListener('focus');
        inputField.removeEventListener('blur');
        content.removeEventListener('mouseenter');
        content.removeEventListener('mouseleave');
        content.removeEventListener('click');
      };
    });

  </script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Event delegation to handle clicks anywhere in the document
      document.addEventListener('click', function (event) {
        // Use event delegation to detect if the clicked element or any of its parents have a 'data-modal-hide' attribute
        if (event.target.matches('[data-modal-hide]') || event.target.closest('[data-modal-hide]')) {
          // If so, retrieve the value of 'data-modal-hide' to know which modal to hide
          const modalId = event.target.closest('[data-modal-hide]').getAttribute('data-modal-hide');
          closeModal(modalId);
        }
      });

      function closeModal(modalId) {
        const modal = document.getElementById(modalId);
        if (modal) {
          modal.style.display = 'none'; // Hide the modal by changing its display style
          modal.setAttribute('aria-hidden', 'true'); // Update aria-hidden attribute for accessibility
          const content = document.getElementById('dropdown');
          content.style.display = 'none';
        }
      }


    });
  </script>
  {% endblock %}
</div>