{% extends "website/_base.html" %} {% block main %}
<div class="w-full">
  <div>
    <h1 class="flex justify-center mt-2 mb-10 text-4xl font-bold">Welcome to the website</h1>
  </div>
  <div class="flex items-center justify-center">
    <table class="flex justify-center border-2 border-black border-solid">
      <tr>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight</th>
      </tr>
      {% for exercise in exercises %}
      <tr>
        <td>{{ exercise.name }}</td>
        <td>{{ exercise.sets }}</td>
        <td>{{ exercise.reps }}</td>
        <td>{{ exercise.weight }}</td>
        <td>
          <form action="/workout/delete-exercise/" method="post"
            class="flex px-4 py-2 rounded-md cursor-pointer gap-x-4 hover:bg-inputBgLight dark:hover:bg-red-800">
            <input type="hidden" name="id" value="{{ exercise.id }}/>
            <button type=" submit">Delete</button>
          </form>
        </td>
      </tr>

      <tr>
        {% endfor %}
      </tr>

      <tr>
        <form action="/workout/add-exercise/" method="post">
          <td>
            {{ errors.exercise }}
            <div class="">
              <div class="flex justify-center w-full mt-2" id="exercise_dropdown">
                <div class="relative">
                  <input type="text" name="exercise" class="dark bg-[#151a27] px-4 py-2 text-white gap-x-4"
                    id="htmx_input_selector" placeholder="Type name" hx-get="/workout/get-exercises/" hx-trigger="focus"
                    hx-target="#dropdown" hx-indicator="#loadingIndicator" hx-trigger="blur" />
                  <div id="dropdown" class="absolute w-full bg-primary"></div>
                </div>
                <div id="loadingIndicator" class="hidden"></div>
              </div>
            </div>
          </td>
          <td>
            <input name="sets" class="dark bg-[#151a27]" />
            {{ errors.sets }}
          </td>
          <td>
            <input name="reps" class="dark bg-[#151a27]" />
            {{ errors.reps }}
          </td>
          <td>
            <input name="weight" class="dark bg-[#151a27]" />
            {{ errors.weight }}
          </td>
          <td>
            <button type="submit"
              class="flex px-4 py-2 rounded-md cursor-pointer gap-x-4 hover:bg-inputBgLight dark:hover:bg-inputBgDark">Add</button>
          </td>
        </form>
      </tr>
    </table>
  </div>

  <div id="exercise-modal-hx-get">

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const inputField = document.getElementById('htmx_input_selector');
      const content = document.getElementById('dropdown');
      let isMouseOverContent = false; // Flag to track mouse presence over content

      inputField.addEventListener('focus', () => {
        content.style.display = 'block'; // Show content on input focus
      });

      inputField.addEventListener('blur', () => {
        setTimeout(() => { // Timeout to catch asynchronous focus switch
          if (!isMouseOverContent) {
            content.style.display = 'none'; // Hide content if mouse is not over
          }
        }, 0); // Short delay to ensure correct order of event processing
      });

      content.addEventListener('mouseenter', () => {
        isMouseOverContent = true; // Mouse is over content, set flag true
      });

      content.addEventListener('mouseleave', () => {
        isMouseOverContent = false; // Mouse left content, set flag false
      });

      content.addEventListener('click', () => {
        // Implement any click behavior on content
        // Optionally, reset focus to inputField if needed:
        // inputField.focus();
      });

      // dispose event listeners on component unmount
      return () => {
        inputField.removeEventListener('focus');
        inputField.removeEventListener('blur');
        content.removeEventListener('mouseenter');
        content.removeEventListener('mouseleave');
        content.removeEventListener('click');
      };
    });

  </script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Event delegation to handle clicks anywhere in the document
      document.addEventListener('click', function (event) {
        // Use event delegation to detect if the clicked element or any of its parents have a 'data-modal-hide' attribute
        if (event.target.matches('[data-modal-hide]') || event.target.closest('[data-modal-hide]')) {
          // If so, retrieve the value of 'data-modal-hide' to know which modal to hide
          const modalId = event.target.closest('[data-modal-hide]').getAttribute('data-modal-hide');
          closeModal(modalId);
        }
      });

      function closeModal(modalId) {
        const modal = document.getElementById(modalId);
        if (modal) {
          modal.style.display = 'none'; // Hide the modal by changing its display style
          modal.setAttribute('aria-hidden', 'true'); // Update aria-hidden attribute for accessibility
          console.log(`Modal ${modalId} closed`);
        }
      }


    });
  </script>
  {% endblock %}
</div>